@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,400i,500,600,600i,700,800,900&display=swap');

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;

}
.navbar {
    color: black;
}

/* style NAV */
.navbar {
    background: #F0F2F4;
}

.navbar-brand .brand-text {
    font-size: 14px;
    font-weight: bold;
}
nav a {
    color: black;
    z-index: 20;
}
.navbar-toggler-icon {
   
    z-index: 6;
}
.hero {
    background-image: url(https://picsum.photos/id/1/5616/3744);
     background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    z-index: -6;
    color: white;
}

.title-border {
    padding-left: 8px;
    padding-right: 8px;
}

.title-border:hover {
    
    border-bottom: 2px solid black;
    margin: 0 auto;

}




/* style footer */
footer {
    display: flex;
    justify-content: space-around;
    font-size: 12px;
    background-color: #f99797;
    color: white;
    padding: 20px;
    margin-top: auto;


}

footer a {
    color: white;
    text-decoration: none;

}

footer li {
    padding-bottom: 10px;
}

.navbar-footer {
    display: flex;
    justify-content: space-around;
}

.formations {
    
    max-height: 600px;
    padding: 40px;
    margin: 5%;
    text-align: justify;

}

i {
    padding-bottom: 40px;
}


.logos {
    display: block;
    width: 100px;
    margin: 0 auto;
    
}

.h2 {
    text-align: center;
    z-index: 2;
    position: absolute;
    left: 5%;
    right: 10%;
    top: 18vw;
    color: white;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.06);
    width: 100%;

}

.h3 {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    font-size: 2Opx;
    border-bottom: 2px #f99797 solid;
    padding-bottom: 15px;
    padding-top: 15px;
    

}

.promos {
   width: 100%;
    margin: 0 auto;
   

}



/* Media query */
@media screen and (max-width: 612px) {
    .navbar-footer {
        display: block;
        text-align: center;
    }

 
  
    footer {
        flex-direction: column;
        align-items: center;
    } 

}

